
.emp-resetpass-outer-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emp-reset-label{
    margin-left: 20px;
}
.password-label{
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin: 0;
}
.emp-resetpass-pass-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.emp-resetpass-editbox{
    height: 25px;
    width: 200px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid #383838;
}
.emp-resetpass-submit-btn{
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid #383838;
    background-color: white;
}
.emp-resetpass-submit-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px #383838;
}
.emp-resetpass-succ{
    font-weight: bold;
    color: green;
}
.emp-resetpass-mis{
    font-weight: bold;
    color: red;
}

p[disabled] {
    pointer-events: none;
    opacity: 0.7%;
}

@media(max-width:850px){
    .emp-resetpass-pass-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}